@import '../global.scss';

.btn {
  color: $white;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.btn--primario {
  background-color: $primario;
}

.btn--secundario {
  background-color: $secundario;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

// .btn:disabled {
//   background-color: #ce2121;
//   color: #333;
//   cursor: auto;
// }

// .btn:disabled:hover {
//   transform: scale(1);
//   opacity: 1;
// }