@import '../global.scss';

.cardPostagem {
  width: 100%;

  .cardPostagem__container {
    // background-color: $background2;
    margin: 40px auto;
    border-radius: 30px;
    max-width: 1100px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(11, minmax(50px, 100px));
    grid-auto-rows: minmax(70px, auto);
    grid-template-areas: 
    'perfil perfil . . . . . . . . favoriteIcon'
    'titulo titulo titulo titulo titulo titulo titulo titulo titulo titulo titulo'
    'categoria categoria categoria categoria . . . . . botaoAvaliar botaoAvaliar'
    '. . . . . . . . . botao botao'
    'descricao descricao descricao descricao descricao descricao descricao descricao descricao nota quantidadeUsuarios'
    'descricao descricao descricao descricao descricao descricao descricao descricao descricao . .'
    'dataPostagem dataPostagem dataPostagem dataPostagem . . . . . . .';

    .cardPostagem__titulo {
      grid-area: titulo;
      display: flex;
      align-items: center; 
      padding: 0 20px;
      font-size: 28px;
      transition: all .35s ease;

      &:hover {
        color: $primario;
        &::before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }   
      }   
    }

    .cardPostagem__categoria {
      grid-area: categoria;
      font-size: 28px;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }

    .cardPostagem__nota {
      grid-area: nota;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

    .cardPostagem__botaoAvaliar {
      grid-area: botaoAvaliar;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cardPostagem__botao {
      grid-area: botao;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cardPostagem__perfil {
      grid-area: perfil;
      padding: 0 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
  
      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
    }

    .cardPostagem__favoriteIcon {
      button {
        background-color: $background2;
        border: 0;        
      }
      grid-area: favoriteIcon;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cardPostagem__quantidadeUsuarios {
      grid-area: quantidadeUsuarios;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

    .cardPostagem__descricao {
      grid-area: descricao;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      p {
        font-size: 28px;
      }
    }

    .cardPostagem__dataPostagem {
      padding: 0 20px;
      grid-area: dataPostagem;
      display: flex;
      align-items: center;
    }
  }
}