@import '../global.scss';

.header {
  background-color: $background2;
  position: sticky;
  top: 0;

  .header__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 'logo categorias pesquisar pesquisar pesquisar pesquisar postar avatar';
  }

  .header__logo {
    grid-area: logo;
    text-decoration: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
  }

  .header__categorias {
    grid-area: categorias;
    background-color: $primario;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__pesquisar{
    grid-area: pesquisar;
    position: relative;

    .header__searchBox {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-auto-flow: column;
      grid-template-columns: 7fr 1fr;

      .header__pesquisar__input {
        width: 100%;
        justify-self: center;
        border: none;
        font-size: 20px;
        padding: 0 7px;
        height: 40px;
        outline: 0;
      }
    }
    
    .dropdown {
      background-color: $background;
      position: absolute;
      max-height: 500px;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      word-wrap: break-word;
    }
    
    .dropdown__menu {
      padding: 10px 0;
    }

    .card {
      height: 30px;
      padding: 30px 10px;
      display: grid;
      justify-content: start;
      align-content: center;
    }

    .card:hover {
      background-color: $primario;
    }
  }

  .header__postar {
    grid-area: postar;
    text-decoration: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_avatar {
    grid-area: avatar;
    text-decoration: none;
    height: 40px;
    
    .header_button {
      width: 100%;
      height: 100%;
      border: none;
      background-color: $primario;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

.nav {
  button {
    width: 128px;
    height: 40px;
    background-color: $primario;
    color: $white;
    border: 0;
  }
}

.nav li {
  position: relative;
  float: left;
}

.nav__sub-menu {
  list-style: none;
  position: absolute;
  left: -9999px;

  overflow-y: scroll;
  height: 80vh;

  &::-webkit-scrollbar {
      width: 15px;
  }
  
  &::-webkit-scrollbar-track {
      background: var(--background);
  }

  &::-webkit-scrollbar-thumb {
      background-color: #808080;
      border-radius: 20px;
      border: 3px solid var(--background);
  }
}

.nav__sub-menu li {
  float: none;
}

.nav li:hover ul{
  left: 0;
}

@media only screen and (max-width: 768px) {
  .header{

    .header__container {
      grid-template-areas: 'logo logo pesquisar pesquisar pesquisar pesquisar postar avatar';
    }
  
    .header__categorias {
      display: none;
    }
  }
}

@media only screen and (max-width: 450px) {
  .header {
    .header__container {
      row-gap: 10px;
      grid-template-areas: 
        'logo logo logo . postar postar avatar avatar'
        'pesquisar pesquisar pesquisar pesquisar pesquisar pesquisar pesquisar pesquisar';
    }

  }
}