@import '../global.scss';

.header {
  width: 100%;
  background-color: $background2;
  position: fixed;

  .header__container{
    max-width: 1100px;
    margin: auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 200px 200px 650px 50px;
    align-items: center;
  }

  .header__logo{
    background-color: $background;
    text-decoration: none;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__categorias{
    background-color: $primario;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__input{
    justify-self: center;
    width: 90%;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 7px;
    height: 40px;
    outline: 0;
  }

  .header_avatar{
    background-color: $background;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav {
  float: left; /* Clear floats */
  width: 100%;
  height: 100%;
  list-style: none;
  font-weight: bold;

  button {
    width: 200px;
    height: 40px;
    background-color: $primario;
    border: 0;
    font-size: 20px;
  }
}

.nav li {
  position: relative;
  float: left;
}

.nav__sub-menu {
  list-style: none;
  position: absolute;
  left: -9999px;
}

.nav__sub-menu li {
  float: none;
}

.nav li:hover ul{
  left: 0;
}