@import '../global.scss';

.publicacoes{
  max-width: 1100px;
  margin: auto;
  padding: 3rem 0;
  display: grid;
  justify-content: center;
  
  .publicacoes__menu{
    background-color: $backgroundAlternativo;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .publicacoes__botao{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .publicacoes__bloco{
    display: grid;
    gap: .7rem;
  }
}